html, body
{
	height: 100%;
}

body
{
	margin-top: 50px;
	margin-bottom: 20px;
	padding: 0px;
	background: #000000;
	font-family: 'Open Sans', sans-serif;
	font-size: 10pt;
	color: #6F644C;
}

h1, h2, h3
{
	margin: 0;
	padding: 0;
}

h2
{
	text-transform: uppercase;
	font-family: 'Fjalla One', sans-serif;
	color: #000000;
}

p, ol, ul
{
	margin-top: 0px;
}

p
{
	line-height: 180%;
}

a
{
	color: #000000;
}

a:hover
{
	text-decoration: none;
}

.image-style img
{
	border-radius: 30px 0px 0px 0px;
}

hr
{
	display: none;
}

/** wrapper */

#wrapper
{
	position: relative;
	margin-bottom: 50px;
}

.container
{
	width: 1000px;
	margin: 0px auto;
}

.clearfix
{
	clear: both;
}

/** HEADER */

#header
{
	overflow: hidden;
}

/** LOGO */

#logo
{
}

#logo h1, #logo p
{
	margin: 0px;
	line-height: normal;
}

#logo h1 a
{
	padding-left: 30px;
	text-decoration: none;
	font-family: 'Satisfy', cursive;
	font-size: 2.20em;
	font-weight: 700;
	color: #FFFFFF;
}
#right{
	text-align:right;
}
#center{
	text-align:center;
}

/** MENU */

#menu
{
}

#menu ul
{
	margin: 0px;
	padding: 20px 0px 0px 0px;
	list-style: none;
	line-height: normal;
}

#menu li
{
	padding: 0px 0px 20px 0px;
}

#menu a
{
	text-decoration: none;
	text-transform: uppercase;
	font-family: 'Fjalla One', sans-serif;
	font-size: 1.50em;
	color: #FFFFFF;
}

#menu a:hover
{
	text-decoration: underline;
}

/** PAGE */

#page
{
	position: relative;
}

/** CONTENT */

#content
{
	position: absolute;
	right: 10px;
	width: 725px;
	padding: 10px 10px 40px 10px;
	background: #EAEAEA;
	box-shadow: inset 0px 0px 0px 10px rgba(255, 255, 255,0.50);
	border-radius: 40px 0px 40px 0px;
}

#content h2 a
{
	display: block;
	padding: 0px 0px 20px 0px;
	text-decoration: none;
	font-size: 1.50em;
	color: #000000;
	font-weight: 400;
}

#content .subtitle
{
	padding: 0px 0px 20px 0px;
	font-size: 2.00em;
	font-weight: 400;
}

#content .noticeTitle
{
	font-size: 2.00em;
	font-weight: 400;
}

#content #noticeListTable{
	width: 100%;
	text-align: center;
	font-size: 17px;
	margin: 20px 0px 0px 0px;
}

#content #noticeListTable th{
	padding: 7px;
    font-weight: bold;
    vertical-align: middle;
    color: #000000;
    border-bottom: 5px solid #000000;
}

#content #noticeOne{
	text-decoration:none;
}
#content .post
{
	padding: 40px;
}

#content #inOutListTable{
	float:left;
    font-size:23px;
    margin: 0px 10px 40px 15px;
    text-align:center;
}

#content #inOutListTable th{
	padding: 7px;
    font-weight: bold;
    vertical-align: middle;
    color: #000000;
    border-bottom: 5px solid #000000;
}

#content #inOutListTable td{
    vertical-align: middle;
    border-bottom: 3px solid #000000;
}

#content #fullListTable{
	width: 100%;
	text-align: center;
	font-size: 12px;
	margin: 10px 0px 15px 0px;
}

#content #fullListTable th{
	padding: 7px;
    font-weight: bold;
    vertical-align: middle;
    color: #000000;
    border-bottom: 5px solid #000000;
}

#content #fullListTable a{
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #EAEAEA 5%, #e9e9e9 100%);
	background-color:#f9f9f9;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:block;
	cursor:pointer;
	color:#666666;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}

#content #fullListTable a:active{
	position:relative;
	top:1px;
}

#content #fullListTable a:hover{
	background:linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
	background-color:#e9e9e9;
}

#content #btnStyle{
	text-align:right;
}

#content #btnStyle2{
	text-align:right;
	float:left;
}
#content #btnStyle3{
	text-align:center;
}

#content #btnStyle2 a{
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background-color:#000000;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px;
	text-decoration:none;

}

#content #btnStyle2 a:active{
	position:relative;
	top:1px;
}



#content #btnStyle a{
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background-color:#000000;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px;
	text-decoration:none;

}

#content #btnStyle a:active{
	position:relative;
	top:1px;
}



#content #btnStyle button{
	background-color:#000000;
	border-radius:6px;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	font-weight:bold;
	padding:6px;
	text-decoration:none;

}

#content #btnStyle button:active{
	position:relative;
	top:1px;
}


#content #oneListTable{
	width: 100%;
	text-align: center;
		margin: 0px 0px 10px 0px;
}

#content #oneListTable th{
	padding: 7px;
    font-weight: bold;

    color: #000000;
}

#content #oneListTable input[type=text]{
	border-radius:5px;
	padding:4px;
	width: 100%;
}

#content #oneListTable input[type=radio]{
	border-radius:5px;
	padding:4px;
}

#content #oneListTable textarea{
	border-radius:5px;
	width: 100%;
	height: 120px;
}

#content #oneListTable select{
	border-radius:5px;
	padding:4px;
	width: 100%;
}

#content #memberListTable{
	width: 100%;
	text-align: center;
		margin: 0px 0px 10px 0px;
}

#content #memberListTable input[type=text]{
	border-radius:5px;
	padding:4px;
	width: 80%;
	margin: 0px 0px 10px 0px;
}

#content #memberListTable input[type=password]{
	border-radius:5px;
	padding:4px;
	width: 80%;
}

#content #cashbookTable{
	width: 100%;
	table-layout:fixed;
}

#content #cashbookTable th{
	padding: 7px;
    font-weight: bold;
    vertical-align: middle;
    color: #000000;
    border-bottom: 5px solid #000000;
}

#content #cashbookTable td{
	vertical-align: top;
	height:90px;
}

#content #cashbookTable a{
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #EAEAEA 5%, #e9e9e9 100%);
	background-color:#f9f9f9;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:block;
	cursor:pointer;
	color:#666666;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
	text-align:center;
}

#content #cashbookTable a:active{
	position:relative;
	top:1px;
}

#content #cashbookTable a:hover{
	background:linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
	background-color:#e9e9e9;
}

#content #cashStyle{
	padding:5px;
	text-align:right;
}

#content #cashStyle .red{
	color: #B70000;
}

#content #cashStyle .green{
	color: #00B700;
}
#content #chartTable{
	width: 100%;
	font-size:15px;
	text-align: center;
}

#content #chartTable input[type=text]{
	border-radius:5px;
	padding:4px;
	width: 50%;
}

#chartTable {
	width: 100%;
	text-align: center;
}

#chartTable th{
	padding: 5px;
    font-weight: bold;
    vertical-align: middle;
    color: #000000;
    border-bottom: 5px solid #000000;
}

#box2 
{
	margin: 0px 40px;
	padding: 40px 0px;
	border-top: 1px solid #000000;
}

/** SIDEBAR */

#sidebar
{
	position: absolute;
	width: 270px;
	left: 10px;
	top: 50px;
}

.box
{
	overflow: hidden;
	padding: 40px 40px;
	background: #000000;
	box-shadow: inset 0px 0px 0px 10px rgba(255, 255, 255,0.90);
	border-radius: 0px 40px 0px 40px;
}

#paging{
	text-align:center;
	vertical-align: middle;
	font-size:19px;
	margin: 33px 0px 0px 0;
}

#paging a{
	margin: 0px 15px 0px 0;
	text-decoration: none;
	color:#000000;
    cursor: pointer;
}

#paging .currentPage{
	display: inline-block;
	width:45px;
	padding: 2px 0;

	background-color: #000000;
	color:#fff;

	border-radius:4px;
}